
{% extends "layout.html" %}
{% block page_title %}
    Dashboard - EtaPI
{% endblock %}
{% block content %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-sm-12">
      <h1 class="page-header">Dashboard</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="wi wi-thermometer fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ '%0.1f'| format(current_temp|float) if current_temp != None else '-' }} °C</div>
                  <div>Aktuelle Temperature</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="wi wi-thermometer fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ '%0.1f'| format(max_temp_today|float) if max_temp_today != None else '-'}} °C</div>
                  <div>Max. Temp Today</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="wi wi-thermometer fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ '%0.1f'| format(min_temp_today|float) if min_temp_today != None else '-'}} °C</div>
                  <div>Min. Temp Today</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="wi wi-thermometer fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ '%0.1f'| format(avg_temp_today|float) if avg_temp_today != None else '-'}} °C</div>
                  <div>Avg. Temp Today</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-info fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ pellets_today or '-'}} kg</div>
                  <div>Pellets Verbrauch Heute</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
            <a href="#">
              <span class="pull-left">Last 7 Days</span>
              <span class="pull-right">{{ pellets_last_week or '-' }} kg</span>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-info fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ pellets_kessel_stock or '-' }} kg</div>
                  <div>Pellets Kesselvorrat</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
            <a href="#">
              <span class="pull-left">Total Pellets Consumption</span>
              <span class="pull-right">{{ pellets_total_consumption or '-' }} kg</span>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
      </div>

       <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-info fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ pellets_total_stock or '-' }} kg</div>
                  <div>Pellets Lagervorrat</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-info fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">{{ operating_hours | pretty_seconds if operating_hours or '-' }}</div>
                  <div>Betriebsstunden</div>
                </div>
              </div>
          </div>
          <div class="panel-footer">
          <a href="#">
              <span class="pull-left">In den letzten 7 Tagen</span>
              <span class="pull-right">{{ operating_hours_last_week or '-' }} h</span>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
      </div>

    </div>

  </div>
{% endblock %}

