
{% extends "layout.html" %}
{% block page_title %}
    Dashboard - EtaPI
{% endblock %}
{% block meta_description %}
    EtaPI - A RaspberryPi based, Flask powered monitor for ETA Heizkessels.
{% endblock %}
{% block content %}
  <div id="page-wrapper">
    <div class="row">
      <div class="col-sm-12">
      <h1 class="page-header">Dashboard</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-3">
                  <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                  <div class="huge">23 °C</div>
                  <div>Temperature</div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}

